{% extends 'text_matching/base.html' %}
{% block content %}
<div class="container">
    <!-- start main content -->
            <div class="row">
                <div class="col-12 m-auto text-center">
                    <h4>Too Many Request</h4>
                    <p class="alert alert-danger">
                        You're Blocked for minutes because too many requests were found.
                    </p>
                </div>
            </div>
    <!-- end main content -->
</div>
{% endblock content %}